body, html {
    font-family: $FONT__sans;
    background-color: $COLOR__white;
    @include size(100%);
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
    color: $COLOR__mist;
    @include transition(all 0.1s linear);
    cursor: pointer;

    &:hover, &:active {
        color: darken($COLOR__ship, 3%);
    }
}

*::selection {
  background: $COLOR__lemon;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}

.hidden {
  display: none;
}

select {
  outline: none;
  -webkit-appearance: none;
  display: block;
  margin: 0;
  line-height: normal;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
