#chart {
  padding-top: 30px;  
  font-family: $FONT__serif;
}

.node {
  rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
  }
  
  &.source {
    rect {
      fill: $COLOR__royal;
    }
  }
  &.target {
    &.r {
      rect {
        fill: $COLOR__chestnut;
      }
    }
    &.d {
      rect {
        fill: $COLOR__marino;
      }
    }
  }
}

.node text {
  font-size: 20px;
}

.link {
  fill: none;
  stroke: $COLOR__royal;
  stroke-opacity: .20;
  @include transition(all 0.1s linear);
}

.link:hover, .selected {
  stroke: $COLOR__wine;
  stroke-opacity: .60;
}

label {
  display: block;
}