#chart {
  font-family: $FONT__serif;
  overflow-x: auto;
  width: 100%;
  margin: 0 auto;
  overflow-y: hidden;
  
  svg {
    margin: 0 auto;
  }
}

.nodes {
  overflow: visible;
}

.node {
  overflow: visible;
  
  rect {
    fill-opacity: .9;
    shape-rendering: crispEdges;
    cursor: pointer;
  }
  
  &.source {
    rect {
      fill: $COLOR__royal;
    }
  }
  &.target {
    &.r {
      rect {
        fill: $COLOR__chestnut;
      }
    }
    &.d {
      rect {
        fill: $COLOR__marino;
      }
    }
  }
}

.node text {
  font-size: 20px;
}

.link {
  fill: none;
  stroke: $COLOR__royal;
  stroke-opacity: .20;
  @include transition(all 0.1s linear);
}

.link:hover, .selected {
  stroke: $COLOR__wine;
  stroke-opacity: .60;
}

label {
  display: block;
}