#chart {
  font-family: $FONT__serif;
  margin: 0 auto;
  padding-bottom: 20px;
  
  svg {
    margin: 0 auto;
  }
  
  #sankey-legend {
    text-align: center;
  }
}

.nodes {
  overflow: visible;
}

.node {
  overflow: visible;
  cursor: pointer;
  
  rect {
    fill-opacity: 1;
    shape-rendering: crispEdges;
  }
  
  .nodeTitle {
    font-size: 18px;
  }
  
  .nodeSubtitle {
    font-size: 15px;
    opacity: 0.7;
    font-family: $FONT__sans;
  }
  
  &.source {
    rect, .nodeSubtitle {
      fill: $COLOR__royal;
    }
  }
  &.target {
    &.r {
      rect, .nodeSubtitle {
        fill: $COLOR__chestnut;
      }
    }
    &.d {
      rect, .nodeSubtitle {
        fill: $COLOR__marino;
      }
    }
  }
}

.link {
  fill: none;
  stroke: $COLOR__royal;
  stroke-opacity: .25;
  @include transition(all 0.1s linear);
}

.link-label {
  text {
    font-family: $FONT__sans--bold;
    font-size: 17px;
    fill: $COLOR__ship;
    pointer-events: none;
  }
}

.selected {
  stroke: $COLOR__wine;
  stroke-opacity: .70;
}

label {
  display: block;
}