// colors
$COLOR__royal: #836BA2; // base purple
$COLOR__chestnut: #BB4747; // base red
$COLOR__marino: #476FBB; // base blue
$COLOR__lemon: #FFFBC6; // yellow
$COLOR__white: #fff;
$COLOR__ship: #333136; // darkest gray
$COLOR__mist: #9B979F; // medium gray
$COLOR__suit: #D5D4DB; // lightest gray
