@import "chart";

$full-width: 1200px;
$margin: 250px;
$width: $full-width - ($margin*2);
$box: 50px;

#header {
  font-family: $FONT__sans--bold;
  text-align: center;
  padding: 40px 0;
  
  #title {
    font-family: $FONT__sans--bold;
    color: $COLOR__ship;
    font-size: 58px;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: -2px;
  }
  
  #subtitle {
    color: $COLOR__suit;
    padding-top: 20px;
    font-size: 24px;
  }
}

#canvas {  
  text-align: center;
  
  #parties-switch {
    padding: 20px 0 50px;
    font-family: $FONT__sans;
   
    .party {
      display: inline-block;
      font-family: $FONT__sans;
      height: 40px;
      line-height: 40px;
      margin: 0;
      color: $COLOR__white;
      text-align: center;
      width: 150px;
      
      label {
        cursor: pointer;
        background-color: $COLOR__suit;
        font-size: 17px;
        @include size(100%);
        display: block;
        @include transition(all 0.2s linear);
      }
      
      &#r > input[type="radio"]:checked + label {
        background-color: $COLOR__chestnut;
      }
      
      &#d > input[type="radio"]:checked + label {
        background-color: $COLOR__marino;
      }
      
    }
  }
  
  #questions {
    $q-size: 50px;
    $border: 8px;
    
    margin: 0 auto;
    max-width: $width;
    position: relative;
    height: $q-size + $border*2;
    border: $border solid $COLOR__ship;
    
    #questions-q {
      width: $q-size;
      font-family: $FONT__serif;
      position: absolute;
      left: 0;
      height: $q-size + 2;
      border-right: $border solid $COLOR__ship;
      display: inline-block;
      background-color: $COLOR__ship;
      line-height: $q-size;
      color: $COLOR__white;
      font-size: 32px;
    }
    
    #questions-dropdown {
      $dropdown-width: $width - $q-size - $border*2;
      $dropdown-height: $q-size;
      
      position: absolute;
      left: $q-size;
      right: 0;
      display: inline-block;
      max-width: $dropdown-width;
      height: $dropdown-height;

 
      .arr {
        background: $COLOR__white;
        bottom: 5px;
        position: absolute;
        right: 5px;
        top: 5px;
        width: 50px;
        pointer-events: none;
        
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          right: 15px;
          margin-top: -5px;
          pointer-events: none;
          border-top: $border solid $COLOR__ship;
          border-left: $border solid transparent;
          border-right: $border solid transparent;
        }
      }
      
      select#questions-select {
        display: inline-block;
        background: $COLOR__white;
        color: $COLOR__ship;
        border: 0;
        height: $dropdown-height;
        line-height: $dropdown-height;
        width: 100%;
        font-family: $FONT__serif--bold;
        padding: 0 15px;
        font-size: 22px;
      }
      
    }
  } 
  
  #bins {
    font-size: 18px;
    margin-top: 10px;
    
    h3 {
      display: inline;
      padding-right: 10px;
      font-family: $FONT__sans;
      text-transform: uppercase;
      color: $COLOR__mist;
    }
    
    #bins-switch {
      display: inline;
      
      .bin {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        margin: 0;
        color: $COLOR__mist;
        font-family: $FONT__sans;
        text-align: center;
        
        label {
          cursor: pointer;
          @include size(100%);
          display: inline;
        }
        
        &:after {
            content: '|';
            padding: 0 5px;
            display: inline;
        }        
        
        &:last-child:after {
          content: '';
          display: none;
        }
        
        input[type="radio"]:checked + label {
          color: $COLOR__ship;
          font-family: $FONT__sans--bold;
        }
        
      }
    }
  }
 
  #axis {
    width: $full-width;
    margin: 0 auto;
    
    #axis-labels {
      $label-width: 300px;
      
      font-size: 18px;
      width: $width;
      margin: 50px auto 2px;
      font-family: $FONT__sans;
      text-transform: uppercase;
      color: $COLOR__mist;
      overflow: visible;
      display: block;
      
      #right-label, #left-label {
        display: inline;
        width: $label-width;
      }
      
      #right-label {
        float: right;
        margin-right: -$label-width/2;
      }
      
      #left-label {
        float: left;
        margin-left: -$label-width/2;
      }
      
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
  
  #states {
    display: block;
    margin: 20px auto;
    width: $width + $margin;
    
    h3 {
      width: $margin;
      float: left;
      padding-right: 10px;
      font-family: $FONT__sans;
      text-transform: uppercase;
      color: $COLOR__mist;
      text-align: right;
      margin-left: -$margin/2;
      display: inline-block;
    }
    
    #states-select {
      float: left;
      width: $width;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      margin-left: -$box/5;

      .state {
        flex: 0 0 auto;
        margin-left: $box/5;
        margin-bottom: $box/5;
        
        label {
          display: inline-block;
          width: $box;
          height: $box;
          line-height: $box - 8;
          color: $COLOR__ship;
          background-color: $COLOR__suit;
          margin: auto;
          font-size: 16px;
          border: solid 4px $COLOR__suit;
          cursor: pointer;
          @include transition(all 0.2s linear);
        }
        
        input[type="checkbox"]:checked + label {
          color: $COLOR__white;
          background-color: $COLOR__ship;
          border: solid 4px $COLOR__ship;
        }
      }
    }
  }
  
  #shelf {
    
  }
}